<ion-header>
  <ion-toolbar>
    <ion-title>orderstatus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label style="text-align:center;color:green">Order Success!</ion-label>
  </ion-item>
  <ion-item >
    <ion-label style="text-align:center;color:green">
    <ion-button routerLink="/tabs/drinks">Go to Menu</ion-button>
    </ion-label>
    </ion-item>
</ion-content>
