<ion-header>
    <ion-toolbar>
      <ion-title>{{data.name}} <ion-button style="float:right" color="danger">Close</ion-button> </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide (click)="selectProduct(i,product)" class="modalimg" *ngFor="let product of products;let i=index">
        <ion-row [ngClass]="{'selected':selected == i}">
          <ion-col>
            <ion-img style="height:125px" src="{{product.image}}"></ion-img>
          </ion-col>
          <ion-col size="12">
            <h6>{{product.name}}</h6>
          </ion-col>
          </ion-row>
      </ion-slide>
    </ion-slides>

    <ion-button shape="round" fill="outline" [color]="mlSelect==i?'success':'medium'" (click)="mlSelect=i" *ngFor="let ml of mlList;let i=index">{{ml.name}}({{ml.ml}}ml)</ion-button>
    <!-- <ion-item width="50%">
      <ion-label>Quantity</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item> -->

    <ion-item *ngIf="mlList.length>0" style="width:60%">
      <ion-button (click)="quantity==1?1:quantity=quantity-1" slot="start">
        -
      </ion-button>
      <ion-label position="floating">Quantity</ion-label>
      <ion-input [value]="quantity" type="number"></ion-input>
      <ion-button (click)="quantity=quantity+1" slot="end">
        +
      </ion-button>
    </ion-item>
    <ion-button *ngIf="mlList.length>0" (click)="addToCart()">Add Item</ion-button>
  </ion-content>