<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="drinks">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Drinks</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="starter">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Starter</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="maincourse">
      <ion-icon name="square"></ion-icon>
      <ion-label>Main Course</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
