<ion-header>
  <ion-toolbar>
    <ion-title>Select:
      <ion-button (click)="getFilterMenu('indian')" [color]="this.selectedStarter=='indian'?'warning':'primary'">Indian</ion-button>
      <ion-button (click)="getFilterMenu('chinese')" [color]="this.selectedStarter=='chinese'?'warning':'primary'">Chinese</ion-button>
      <ion-button>Roti / Naan</ion-button>
      <ion-button (click)="cartView()" *ngIf="cart.length>0" color="success" style="float:right">Order List</ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col (click)="getPicker(menu)" *ngFor="let menu of filterMenu;let i=index" size="6">
      <ion-card>
        <ion-card-header>
          <!-- <ion-img style="height:125px" src="{{menu.image}}"></ion-img> -->
          <ion-card-title>
            <ion-row>
              <ion-col size="1">
                <ion-img *ngIf="menu.veg" style="height:20px" src="assets/images/veg.png"></ion-img>
                <ion-img *ngIf="!menu.veg" style="height:20px" src="assets/images/nonveg.png"></ion-img>
              </ion-col>
              <ion-col size="9">
                {{menu.name}}
              </ion-col>
            </ion-row>

          </ion-card-title>
          <ion-row>
            <ion-col offset="1">
              <ion-card-subtitle>&#x20B9; {{menu.price}}</ion-card-subtitle>  
            </ion-col>
            </ion-row>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>