<ion-header>
    <ion-toolbar>
      <ion-title>
        Order List
        <ion-label color="primary">Total :Rs. {{calcSum}}</ion-label>
        <ion-button style="float:right" (click)="dismissModal()" color="danger">Close</ion-button>       
    </ion-title>
       
    </ion-toolbar>
  </ion-header>
<ion-content>
    <ion-row class="sticky">
        <ion-col size="8">
            Name
        </ion-col>
        <ion-col size="2">
            Quantity
        </ion-col>
        <ion-col size="2">
            Price
        </ion-col>
    </ion-row>
    <ion-row *ngFor="let cart of cart">
        <ion-col size="8">
            {{cart.name}}
            <div *ngIf="cart.ml">({{cart.ml}})</div>
        </ion-col>
        <ion-col size="2">
            {{cart.quantity}}
        </ion-col>
        <ion-col size="2">
            Rs. {{cart.price * cart.quantity}}
        </ion-col>
    </ion-row>
</ion-content>

<ion-footer>
    <ion-button (click)="dismissModal()" routerLink="/login" color="success" style="float:right">Confirm Order</ion-button>
</ion-footer>