

<ion-content>
  <ion-row>
    <ion-col size="12">
      <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="12">
      <ion-item>
      <ion-label position="floating">Card Number</ion-label>
      <ion-input></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item>
        <ion-label position="floating">Expiry date</ion-label>
        <ion-datetime displayFormat="MM/YY" pickerFormat="MM/YYYY" value="2019-10-01T15:43:40.394Z" display-timezone="utc"></ion-datetime>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item>
        <ion-label position="floating">CVV</ion-label>
        <ion-input></ion-input>
        </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-button (click)="creatOrder()">Start payment</ion-button>
    </ion-col>
  </ion-row>
    
</ion-content>
