<ion-header>
    <ion-toolbar>
      <ion-title>
        {{item.name}}
        <ion-button style="float:right" color="danger">Close</ion-button>       
      </ion-title>
       
    </ion-toolbar>
  </ion-header>

  <ion-content>

    </ion-content>