<ion-header>
  <ion-toolbar>
    <ion-title>payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="card">
        <ion-icon name="card"></ion-icon>
        <ion-label>Debit/Credit Card</ion-label>
       
      </ion-tab-button>
  
      <ion-tab-button tab="upi">
        <ion-icon name="upi"></ion-icon>
        <ion-label>Upi</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

<!-- <ion-row>
  <ion-col size="12">
  <ion-item>
    <ion-label position="floating">Credit/Debit Card Number</ion-label>
    <ion-input></ion-input>
  </ion-item>
  </ion-col>
</ion-row> -->

</ion-content>
