<ion-header>
  <ion-toolbar>
    <ion-title>Select:
      <ion-button (click)="getFilterMenu('beer')" [color]="this.selectedDrink=='beer'?'warning':'primary'">Beer</ion-button>
      <ion-button (click)="getFilterMenu('whiskey')" [color]="this.selectedDrink=='whiskey'?'warning':'primary'">Whiskey</ion-button>
      <ion-button>Rum</ion-button>
      <ion-button>Vodka</ion-button>
      <ion-button>Scotch</ion-button>
      <ion-button (click)="cartView()" *ngIf="cart.length>0" color="success" style="float:right">Order List</ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
  <ion-col (click)="select(menu)" *ngFor="let menu of filterMenu" size="3">
    <ion-card>
      <ion-card-header>
        <ion-img style="height:125px" src="{{menu.image}}"></ion-img>
        <ion-card-subtitle>
          <span *ngFor="let ml of menu.product;let i=index"> {{ml.name}} <i *ngIf="i!=menu.product.length-1">/</i> </span>
        </ion-card-subtitle>
        <ion-card-title>{{menu.name}}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-col>
  </ion-row>
</ion-content>
