<ion-header>
  <ion-toolbar>
    <ion-title>Address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addressForm" (ngSubmit)="address()">
  <ion-item>
    <ion-label position="floating">Enter mobile number</ion-label>
    <ion-input formControlName="mobile"></ion-input>
  </ion-item>
  <!-- <ion-label *ngIf="">Enter mobile number</ion-label> -->
  <ion-item>
    <ion-label position="floating">Flat No,Building Name,Society/Office</ion-label>
    <ion-input #flat formControlName="flat"></ion-input>
    <!-- <ion-label *ngIf="addressForm.controls.landmark.touched || addressForm.controls.flat.touched && addressForm.controls.flat.errors.required">Enter mobile number</ion-label> -->
  </ion-item>
  <ion-item>
    <ion-label position="floating">Landmark/Area Name</ion-label>
    <ion-input #landmark formControlName="landmark"></ion-input>
  </ion-item>
  <!-- <ion-label *ngIf="addressForm.controls.landmark.touched && addressForm.controls.landmark.errors.required">Enter mobile number</ion-label> -->
  <ion-item>
    <ion-button [disabled]="!addressForm.valid" type="submit">Done</ion-button>
  </ion-item>
  </form>
</ion-content>
